{% extends "base.html" %}

{% block content %}
<h1><font face="Sans-serif">Welcome to Ride-Pool!</font></h1>
<body>
<font face="Sans-serif" size="4px">The Best App to Find A Ride to <b>All</b> Your Favorite Events!</font>
<br>
  <a href="{% url 'rides:index_ride' %}">Click Here to Find Your Ride</a>
  <a href="{% url 'rides:create_ride' %}">Click Here to Create a New Ride</a>

  <a href="{% url 'rides:index_ride' %}">Click Here to Find Your Ride</a>
  <a href="{% url 'rides:create_ride' %}">Click Here to Create a New Ride</a>
</body>

{% endblock %}
