{% extends "base.html" %}

{% block content %}
<h1><font face="Sans-serif">Building a Community of Summer Interns in All the Big Cities!</font></h1>
<body>
    <font face="Sans-serif" size="4px">Find Your Roommate, Housing, or Event Below!</font>
    <br>
    <a href="{% url 'rides:index_tenet' %}">Find Roomates</a>
    <br>
    <a href="addtenet/">Join the Community</a>
    <br>
    <a href="apartments/">Browse locations</a>
    <br>
    <a href="events/">Look at Events Near You</a>
</body>

{% endblock %}
