{% extends "base.html" %}

{% block content %}
<div class="main">

  <table>
    <tr>
      <thead>
        First Name Origination Destination City Destination State Date Time Taking Passengers Seats Available
      </thead>
    </tr>

    <tbody>
      {% for person in people %}

      <tr>
          <td>{{ person.first_name }}</td>
          <td>{{ person.origination }}</td>
          <td>{{ person.destination_city }}</td>
          <td>{{ person.destination_state }}</td>
          <td>{{ person.date }}</td>
          <td>{{ person.time }}</td>
          <td>{{ person.taking_passengers }}</td>
          <td>{{ person.seats_available }}</td>
      </tr>
      {% endfor %}
    </tbody>

  </table>
</div>

<form action="{% url 'rides:index' %}" method="get">
    {{ form }}
    <input type="submit" value="Submit" onclick="return checkForm(this.parentNode);">
</form>

{% endblock %}
